 /* ---- 💫 https://github.com/LinuxBeginnings 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #D1D3C3;
active-foreground: #F4F6ED;
normal-background: #14171A;
normal-foreground: #F4F6ED;
urgent-background: #E0E4CD;
urgent-foreground: #F4F6ED;

alternate-active-background: #8D988E;
alternate-active-foreground: #F4F6ED;
alternate-normal-background: #14171A;
alternate-normal-foreground: #F4F6ED;
alternate-urgent-background: #14171A;
alternate-urgent-foreground: #F4F6ED;

selected-active-background: #E0E4CD;
selected-active-foreground: #F4F6ED;
selected-normal-background: #E0E4CD;
selected-normal-foreground: #F4F6ED;
selected-urgent-background: #E0E4CD;
selected-urgent-foreground: #F4F6ED;

background-color: #14171A;
background: rgba(0,0,0,0.7);
foreground: #F4F6ED;
border-color: #D1D3C3;

color0: #3B3E41;
color1: #404C4B;
color2: #566D67;
color3: #6A726A;
color4: #9D9F93;
color5: #A8AB9A;
color6: #A8AB9A;
color7: #E7E9DD;
color8: #A2A39B;
color9: #566564;
color10: #729189;
color11: #8D988E;
color12: #D1D3C3;
color13: #E0E4CD;
color14: #E0E4CD;
color15: #E7E9DD;


}

